[Unit]
Description=Server displaying the timeline of the co2
After=network.target

[Service]
ExecStart=/usr/local/bin/go run server.go
WorkingDirectory=/home/pi/canary/www
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target