[Unit]
Description=Server displaying the timeline of the co2
After=network.target

[Service]
ExecStart=/home/pi/canary/www/server
WorkingDirectory=/home/pi/canary/www
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
